DATABASE_URL=postgresql://fqp:fqp_password_change_me@postgres:5432/fqp
REDIS_URL=redis://redis:6379/0
DAILY_BUDGET=500
APP_ENV=development
OFFICIAL_SOURCE_ENABLED=true
SPORTTERY_BASE_URL=https://webapi.sporttery.cn/gateway/jc/football/
RECOMMENDATION_ALLOW_REAL_TICKET_SUGGESTION=false
FOOTBALL_DATA_API_KEY=529504d5c6bb4c708328428c720e15cc
API_FOOTBALL_KEY=cb17f8badead2096569b89c5d3fae917
THEODDS_API_KEY=1da5126f9830c93bfacf15f0213248e0
